syntax: glob
.cache
.scala_dependencies
*.log
*.log.*
*.class
*.swp
*.pyc
*.orig
*.error
dpreview.csv
.~lock*
.metadata
.project
target
.manager
.settings
.classpath
parser/data
.keep
output
output-images
jrebel.info
tags
*.jar
cp.txt
*_listings.txt
env.properties
snapsort_data
munin_stats_*.txt
deploy/fs/usr/local/snapsort/conf/*.properties
deploy/fs/usr/local/snapsort/conf/sites/*.properties
deploy/fs/usr/local/snapsort/conf/domains/*.properties
deploy/fs/usr/local/snapsort/itunes/*.properties
ontology/schemas/*.xsd
ontology/graphs/*.png
# IntelliJ IDEA project files and dirs
.idea
*.iml
*.ipr
*.iws
# SBT stuff
project/boot
project/plugins/src_managed
project/plugins/dst_managed
# VIM quickfix files
.build.errors
data/elasticsearch
README.md.html
.build
nlp/nlp/data/
nlp/build/
nlp/analyse/corpus
.venv
dist/
*.egg-info/
MANIFEST
opsdash.properties
ontologies/*/src/generated/
